.wave-container {
  display: flex;
}
body {
  background: #333;
  overflow: hidden;
}
canvas {
  width: 400px;
  height: 250px;
  display: block;
  margin: 0 auto;
  background: #333;
}

@media only screen and (max-width: 375px) {
  canvas {
    width: 200px;
    height: 125px;
    display: block;
    margin: 0 auto;
    background: #333;
  }
}
